<html>
<head>
<meta charset="utf-8" />
</head>
<body>
	<!-- 
日志report模板，这里直接写html和js模板
会传入一个模板变量TimeMarkDebug
注意模板里面的不要用单引号，要用双引号
 -->
	<style>
table {
	border-collapse: collapse;
}

th {
	text-align: left;
}

td {
	text-align: center;
}

td,th {
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	min-width: 50px;
	max-width: 500px;
	word-break: break-all;
}

tr:nth-child(even) {
	background-color: #66CD00;
	color: #fff;
}
.rct-item-content {
	color: #000;
}
.react-calendar-timeline .rct-scroll {
	white-space: nowrap;
}
</style>
	<script>
		console.log("TimeMarkDebug", {%= JSON.stringify(TimeMarkDebug) %});
		window.TimeMarkDebug = {%= JSON.stringify(TimeMarkDebug) %};
	</script>
	<script>
		window.clear = function() {
			clearTimeout(window.timeoutClearIfm);
			if (!window.clearIfm) {
				window.clearIfm = document.createElement("iframe");
				window.clearIfm.src = "./clean";
				document.body.appendChild(window.clearIfm);
			} else {
				window.clearIfm.location.reload();
			}
			window.timeoutClearIfm = setTimeout(function(){
				document.body.removeChild(window.clearIfm);
				window.clearIfm = null;
				location.reload(true);
			}, 3000);
		}
	</script>
	<button onClick="window.clear()">点我清空ServerLog缓存，然后浏览器刷新</button>

    <div id="root"></div>

	<table>
		<caption>Time Mark Debug</caption>
		</thead>
		<thead>
			<th>\</th>
			<td>Log</tD>
			<td>Inteval</td>
			<td>Date</td>
			<td>From</td>
		</thead>
		<tbody>
			{% for(var i = 0; TimeMarkDebug.length && (i < TimeMarkDebug.length);
			i++){ %}
			<tr>
				<th id="anchor{%= i+1 %}">{%= i+1 %}</th>
				<td>{%= TimeMarkDebug[i].id %}</td>
				<td>{%= i==0 ? 0 :
					(TimeMarkDebug[i].time-TimeMarkDebug[i-1].time) %}</td>
				<td style="min-width:120px">{%= TimeMarkDebug[i].time %}</td>
				<td>{%= TimeMarkDebug[i].url %}</td>
			</tr>
			{% } %}
			{% if(TimeMarkDebug.length > 1){ %}
			<tr>
				<th></th>
				<td style="background-color: red;color: #fff;">合计：</td>
				<td style="background-color: red;color: #fff;">{%= TimeMarkDebug[TimeMarkDebug.length-1].time - TimeMarkDebug[0].time %}</td>
				<td></td>
				<td></td>
			</tr>
			{% } %}
		</tbody>
	</table>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
	<!-- <script src="http://localhost:9090/dist/bundle.js"></script> -->
	<script src="bundle.js"></script>
</body>
</html>